<div>
  <input type="radio" name="color" (click)="myColor = 'green'" />green
  <input type="radio" name="color" (click)="myColor = 'blue'" />blue
  <input type="radio" name="color" (click)="myColor = 'red'" />red
</div>
<p [appAppHighLight]="myColor">Hello Directive</p>

<br />
<label for="colorfulinput">Colorful Input</label>
<input
  type="text"
  [appAppHighLight]="myColor"
  placeholer="write here"
  title="colorful"
/>

<!-- <p>
  <span *appUnless="condition"> welcome</span>
  <button (click)="condition = !condition">
    Toggle condition to {{ condition ? "false" : "true" }}
  </button>
</p> -->

<p>
  <span *ngIf="condition; then thenblock; else elseblock"> welcome</span>
  <button (click)="condition = !condition">
    Toggle condition to {{ condition ? "false" : "true" }}
  </button>
</p>
<ng-template #elseblock>Not authorized</ng-template>
<ng-template #thenblock>authorized</ng-template>
<hr />

<ng-template #colorblock let-cucolor="myColor">{{ myColor }}</ng-template>
<hr />
<ng-container *ngTemplateOutlet="colorblock; context: ctx"></ng-container>
<hr />

<ng-template #currentbutton>
  <button>current button</button>
</ng-template>

<app-child [parentTemplate]="currentbutton"></app-child>

<hr />
{{ asyncData | async }}
<hr />
{{ observableAsync | async | json }}
